<section class="login">
    <div class="wrapper">
        <div class="main-content">
            <div class="main-left">
                <img class="main-image reg" src="https://i.ibb.co/wW11m8q/01.png" alt="01" border="0">
            </div>
            <div class="main-right registration">
                <h1 class="reg-heading">Welcome back...</h1>
                <p class="main-para">Please fill in your login details below</p>

                <%= form_tag '/login' do %>

                    <%= label_tag :username %>
                    <%= text_field_tag :username %>

                    <%= label_tag :password %>
                    <%= password_field_tag :password %>

                    <div class="login-registration">
                        <%= submit_tag 'Login', :class => 'btn' %>
                        <p>...dont have an account yet? <%= link_to 'Register', new_user_path %></p>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>