<section class="login">
    <div class="wrapper">
        <div class="main-content">
            <div class="main-left">
                <img class="main-image reg" src="https://i.ibb.co/wW11m8q/01.png" alt="01" border="0">
            </div>
            <div class="main-right registration">
                <h1 class="reg-heading">Welcome Admin...</h1>
                <p class="main-para">Please fill in your login details below</p>

                <%# Show the flash hash with notice if it exists - handled in sessions controller %>
                <% if flash[:notice] %>
                    <h4 class="user_notice"><%= flash[:notice] %></h4>
                <% end %>

                <%= form_tag '/login' do %>

                    <%= label_tag :username %>
                    <%= text_field_tag :username %>

                    <%= label_tag :password %>
                    <%= password_field_tag :password %>

                    <div class="login-registration">
                        <%= submit_tag 'Login', :class => 'btn' %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>