<section class="test-session">
    <div class="wrapper">
        <div class="session-content">
            <p class="test-session-content"> <%= @test_session.test_content %> </p>

            <%= form_for @test_session do |f| %>

                <%= f.label 'input the above content' %>
                <%= f.text_field :user_input, required: true, :autocomplete => 'off' %>

                <%= f.submit 'submit' %>

            <% end %>
        </div>
    </div>
</section>
