<h1> <%= @test_session.test_name %> </h1>

<p> <%= @test_session.test_content %> </p>

<%= form_for @test_session do |f| %>

    <%= f.label :user_input %>
    <%= f.text_field :user_input %>

    <%= f.submit 'Submit' %>

<% end %>
