<section class="test-show">
    <div class="wrapper">
        <h1 class="tests-para test-show"> <%= @test.name %> </h1>

        <h2 class="test-content"> <%= @test.content %> </h2>

        <p class="test-desc"> Language: <%= @test.language %> </p>

        <p class="test-desc"> Difficulty: <%= @test.difficulty %> </p>

        <%= button_to 'begin test', test_sessions_path, params: {:test_session => {test_id: @test.id, user_id: current_user.id}} %>
    </div>
</section>
