<!DOCTYPE html>
<html>
  <head>
    <title>TypeTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap" rel="stylesheet">
  </head>
    <header>
      <div class="wrapper">
        <nav class="navigation">
          <a class="logo-link" href="/"><p class="logo">TypeTest</p></a>
          <div class="cta">
            <% if logged_in? %>
              <p class="greeting-text">Hello, <strong><%= current_user.first_name %> </strong> </p>
              <%= link_to 'Logout', logout_path, method: :delete %>
            <% elsif admin_logged_in? %>
              <p class="greeting-text">Welcome, <strong>Admin.</strong> </p>
              <%= link_to 'Logout', admin_logout_path, method: :delete %>
            <% end %>
          </div>
        </nav>
      </div>
    </header>
  <body>
    <%= yield %>
  </body>
</html>
